/* eb-garamond-regular - latin */
@font-face {
  font-family: 'EB Garamond';
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url('#{$asset_url}/fonts/Roboto-Regular-webfont.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto'),
       url('#{$asset_url}/fonts/Roboto-Regular-webfont.eot.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('#{$asset_url}/fonts/Roboto-Regular-webfont.eot.woff') format('woff'), /* Modern Browsers */
       url('#{$asset_url}/fonts/Roboto-Regular-webfont.eot.ttf') format('truetype'), /* Safari, Android, iOS */
       url('#{$asset_url}/fonts/Roboto-Regular-webfont.eot.svg') format('svg'); /* Legacy iOS */
}
